/**
 * partials/footer
 * ---
 */


.footer {
  padding: 4vh 0px;
  p {
    font-size: .725rem;
    a {
      font-size: .725rem;
    }
  }
  .logo-img {
    margin: 8px auto;
  }
  nav {
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
        display: inline-block;
        margin: 8px 20px;
        a {
          text-transform: uppercase;
          font-size: .725rem;
          color: #767676;
          font-family: 'Gotham';
          font-weight: 600;
          transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
          &:hover {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
  .social {
    margin: 30px auto 0px;
    padding: 0px;
    list-style-type:none;
    li {
      display: inline-block;
      a {
        padding: 16px;
        font-size: 1.2rem;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
