/**
 * partials/footer
 * ---
 */


.footer {
  padding: 4vh 0px;
  .rs {
    max-width: 220px;
  }
  p {
    font-size: .725rem;
    a {
      font-size: .725rem;
    }
  }
  .logo-img {
    margin: 8px auto;
  }
  .ltk-footer {
    .logo-img {
      max-width: 130px;
    }
    margin-top: 32px;
    svg {
      width: 100%;
    }
    ul {
      margin-top: -8px;
      list-style-type: none;
      padding: 0px;
      li {
        display: inline-block;
        margin: 12px auto;
        a {
          padding: 0px 12px 0px 8px;
          border-right: 1px solid #767676;
          font-size: .625rem;
        }
        &:last-child {
          a {
            border-right: 0px;
          }
        }
      }
    }
  }
  nav {
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
        display: inline-block;
        margin: 8px 20px;
        
      a {
          text-transform: uppercase;
          font-size: .725rem;
          color: #767676;
          font-family: 'Gotham';
          font-weight: 300;
          transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
          &:hover {
            color: #000;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
    }
  }
  .social {
    margin: 10px auto 0px;
    padding: 0px !important;
    list-style-type:none;
    li {
      display: inline-block;
      img {
          height: 32px;
          margin-top: -5px;
          margin-left: -8px;
          opacity: 1;
        }
      a {
        color: #000;
        opacity: .5;
        padding: 16px 8px;
        font-size: 1.8rem;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        &:hover {
          color: #000;
          opacity: 1;
        }
      }
    }
  }
  @media all and (max-width: 767px) {
    p{
      margin-top: 30px;
    }
    nav {
      margin-top: 0px;
      ul {
        padding: 0px !important;
        margin-top: 0px;
        li {
          display: block;
          margin-bottom: 12px;
          a {
            font-weight: 600;
            color: #000;
            font-size: 1rem;
          }
        }
      }
    }
    .social {
      img {
            height: 28px !important;
          }
    }
    .ltk-footer {
      .subnav {
        margin-top: 8px;
        padding: 0px !important;

        li {
          margin: 0 auto;
          a {
            color: #767676;
            font-weight: 600;
            border: 0px;
          }
        }
      }
    }
  }
}
