/**
 * partials/header
 * ---
 */


// Header container
.header {
  position: fixed;
  top: 0px;
  left: 0px; 
  width: 100%;
  z-index: 5;
  background: #fff;
}

// Logo
.logo {}

.logo-img {
  margin-top: 8px;
  display: block;
  max-width: 220px;
}
