/**
 * partials/header
 * ---
 */


// Header container
.header {
  position: fixed;
  top: 0px;
  left: 0px; 
  width: 100%;
  z-index: 9999;
  background: #000;
  border-bottom: 1px solid #333;
  // Logo
.logo {}

.logo-img {
  margin-top: 8px;
  display: block;
  max-width: 180px;

}
  .menu-toggle {
    display: none;
  }
  @media all and (max-width: 1023px) {
    .logo-img {
      margin: 20px auto 0px;
    }
  }
  @media all and (max-width: 767px) {
    text-align: center;
    .logo-img {
      margin: 16px auto 8px;
    }
    .menu-toggle {
      position: absolute;
      right: 24px;
      top: 32%;
      display: block;
      z-index: 8;
      color: #fff;
      i {
        opacity: .25;
        font-size: 2rem;
      }
    }
  }
}

.topbar {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: #fff;
  z-index: 8;
  height: 30px;
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      margin: 0px;
      display: inline-block;
      a {
        color: #000;
        font-family: 'Gotham';
        text-transform: uppercase;
        font-size: .525rem;
        font-weight: 600;
      }
    }
  }
}


