html body .mission-statement {
  padding-bottom: 4vh !important; }
  html body .mission-statement .subheading {
    font-size: 1.6rem;
    font-family: 'Didot' !important;
    text-transform: none;
    font-style: italic;
    letter-spacing: 0px;
    font-weight: 300; }
