html {
	body {
		.mission-statement {
		padding-top: 4vh !important;
		 padding-bottom: 4vh !important;
	      .subheading {
	        font-size: 1.6rem;
	        font-family: 'Didot' !important;
	        text-transform: none;
	        font-style: italic;
	        letter-spacing: 0px;
	        font-weight: 300;
	      }
	    }
	}
}