/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
  ul {
    list-style-type: none;
    margin-top: 14px;
    li {
      display: inline-block;
      margin: 0px 20px;
      position: relative;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      &:hover {
        // border-bottom: 1px solid #000;
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }

      &.current-menu-item {
        a {
          font-weight: 600;
        }
      }
      &:last-child {
        margin-right: 0px;
        a {
          background: #000;
          color: #fff;
          display: inline-block;
          padding: 8px 20px;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          &:hover {
            text-decoration: none;
            background: #fff;
            color: #000;
          }
        }
        &:hover {
          border-bottom: 0px;
        }
      }
      ul {
        display: none;
        position: absolute;
        left: 0px;
        padding: 0px;
        margin: 0px;
        background: #fff;
      }
      a {
        text-transform: uppercase;
        font-family: 'Gotham';
        font-weight: 300;
        font-size: .725rem;
        color: #000;
        letter-spacing: 1.7px;
        &:active {
          text-decoration: none;
          font-weight: 600;
        }
        &:link {
          text-decoration: none;
          font-weight: 600;
        }
        &:visited {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
  @media all and (max-width: 767px) {
    display: none;
    width: 100%;
    left: 0px;
    position: absolute;
    background: rgba(252,252,252,.95);
    &.active {
      display: block;
    }
    ul {
      width: 100%;
      padding: 0px;
      margin: 0px;
      li {
        display: block;
        margin: 32px auto;
      }
    }
  }
}

.menu {}

.sub-menu {}

.menu-item {}
