.brand-wall {
  h2 {
    font-family: 'Didot' !important;
    font-style: italic;
    margin-bottom: 60px;
    font-weight: 300;
    text-transform: none;
  }
  .logo-slider {
    align-items: center;
    .slick-slide {
      margin: 0px 20px !important;
      // display: flex; 
      text-align: center;
      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .logo {
        vertical-align: middle;
        display: inline-block;
        width: 75% !important;
        img {
          vertical-align: middle;
          display: inline-block;
        }
      }
      img {
        height: auto !important;
        vertical-align: middle;
        display: inline-block;
        width: 75% !important;
      }
    }
  }
  @media all and (max-width: 767px) {
    .logo-slider {
      .slick-slide {
        // width: 30vw !important;
        .logo {
          // width: 100% !important;
        }
      }
    }
  }
}