.brand-wall {
  h2 {
    font-family: 'Didot' !important;
    font-style: italic;
    margin-bottom: 60px;
    font-weight: 300;
    text-transform: none;
  }
  .logo-slider {
    .slick-slide {
      margin: 0px 20px !important;
      .logo {
        width: 75% !important;
      }
      img {
        height: auto !important;
      }
    }
  }
  @media all and (max-width: 767px) {
    .logo-slider {
      .slick-slide {
        // width: 30vw !important;
        .logo {
          // width: 100% !important;
        }
      }
    }
  }
}