.brand-wall h2 {
  font-family: 'Didot' !important;
  font-style: italic;
  margin-bottom: 60px;
  font-weight: 300;
  text-transform: none; }
.brand-wall .logo-slider .slick-slide {
  margin: 0px 20px !important; }
  .brand-wall .logo-slider .slick-slide .logo {
    width: 75% !important; }
  .brand-wall .logo-slider .slick-slide img {
    height: auto !important; }
