html {
	body {
		.company-stats {
			.box {
				padding: 0px 30px;
				// border-right: 1px solid #e8e8e8;
				&.last {
					border: 0px !important;
				}
				p {
					font-size: .875rem;
					margin-bottom: 0vw;
				}
			}
			.mobile {
				display: none;
			}
			.desktop {
				display: block;
			}
			.stat {
				display: block;
				margin: 3vw auto 0px;
				width: 100%;
				h1 {
					font-weight: 300;
					font-size: 3.4rem;
					margin-bottom: 0px;
				}
				h4 {
					margin-top: 0px;
					margin-bottom: 1vw;
					font-weight: 300;
					font-size: .875rem;
				}
			}
			.btn {
				margin-top: 2vw;
			}
			@media all and (min-width: 768px) and (max-width: 1023px) {
				margin-top: 6vw;
				.desktop {
					display: none;
				}
				.mobile {
					display: block;
				}
				.box {
					padding: 0px;
					margin-bottom: 12vw;
					img {
						max-width: 50%;
					}
				}
				.col-md-4 {
					&:nth-of-type(3) {
						.box {
							margin-bottom: 5vw;
						}
					}
				}
				.stat {
					margin: 6vw auto 3vw;
					display: inline-block;
					width: 40%;
				}
			}
			@media all and (max-width: 767px) {
				.desktop {
					display: none;
				}
				.mobile {
					display: block;
				}
				.col-md-4 {
					&:nth-of-type(3) {
						.box {
							margin-bottom: 0px;
						}
					}
				}
				.box {
					padding: 0px;
					margin-bottom: 12vh;
					img {
						max-width: 50%;
					}
				}
				.stat {
					width: 40%;
					display:inline-block;
					margin: 6vw auto;
				}
			}
		}
	}
}