html body .employee-spotlight {
  background: #f2f2f2; }
  html body .employee-spotlight h2 {
    font-size: 4rem;
    font-family: 'Didot' !important;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    margin-bottom: 0px; }
  html body .employee-spotlight h4 {
    margin-top: 0px; }
