html {
	body {
		.employee-spotlight {
	      background: #f2f2f2;
	      h2 {
	        font-size: 4rem;
	        font-family: 'Didot' !important;
	        font-weight: 300;
	        font-style: italic;
	        text-transform: none;
	        margin-bottom: 0px;
	      }
	      h4 {
	        margin-top: 0px;
	      }

	      @media all and (max-width: 767px) {
	      	img {
	      		margin-bottom: 5vw;
	      		max-width: 75%;
	      	}
	      	h2 {
	      		font-size: 2.6rem !important;
	      	}
	      }
	    }
	}
}