html {
	body {
		.graphic-slider {
			padding-top: 0px !important;
			.container {
				position: relative;
			}
			.title {
				.box {
					padding: 8px 0px;
					border: 2px solid #000;
					vertical-align: middle;
					position: relative;
					margin-bottom: 20px;
					// height: 100px;
					// line-height: 100%;
					&::after {
						content: '';
						  width: 2px;
						  height: 20px;
						  background: #000;
						  position: absolute;
						  top: 100%;
						  left: 50%;
						  margin-left: -2px;
					}
					p {
						display: none;

					}
					&:hover {
						background: #000;
						h4 {
							display: none;
						}
						p {
							display: block;
							color: #fff;
						}
					}
				}
			}
			.slick-slide {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					top: 0px;
					background: #000;
					height: 2px;
					width: 100%;
				}
				&:first-child {

				}
				&:last-child {
					&::after {
						width: 0%;
					}
				}
			}
			.contents {
				height: 220px;
				.box {
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					.icon {
						max-width: 48px;
						margin: 0 auto;
					}
					.content {
						border: 2px solid #000;
						height: 200px;
						padding-top: 8.5%;
						padding-left: 4%;
						padding-right: 4%;
						position: relative;
						margin-top: 20px;
						&::after {
							content: '';
							  width: 2px;
							  height: 20px;
							  background: #000;
							  position: absolute;
							  bottom: 100%;
							  left: 50%;
							  margin-left: -2px;
						}
						p {
							display: none;
							margin-top: -12px;
							font-size: .875rem;
							line-height: 100%;
							// @media all and (max-width: 767px) {
							// 	font-size: .875rem;
							// }
						}
						img {
							margin: 0 auto;
						}
					}
					&:hover {
						background: #000;
						h4 {
							display: none;
						}
						img {
							opacity: 0;
						}
						p {
							display: block;
							color: #fff;
						}
					}
					// height: 300px;
				}
			}
		}
	}
}