html {
	body {
		.job-postings {
	      padding-top: 0px !important;
	      #BambooHR {
	        padding: 0 40px;
	        .BambooHR-ATS-board li {
	          font-family: 'Gotham';
	        }
	      }
	      @media all and (max-width: 767px) {
	      	img {
	          margin-top: 0px;
	          margin-bottom: 4vh !important;
	        }
	      	#BambooHR {
	      		text-align: center;
	      		padding: 0px !important;
	      		h2 {
	      			text-align: center;
    				margin-top: 30px;
				}
	      		.BambooHR-ATS-Jobs-List {
	      			padding: 0px !important;
	      		}
	      		.BambooHR-ATS-Department-Header {
	      			font-size: 1.6rem;
	      			margin-bottom: 25px;
	      		}
	      		.BambooHR-ATS-Location {
	      			display: block;
	      			float: none !important;
	      			padding-top: 4px !important;
	      		}
	      		.BambooHR-ATS-board a {
	      			line-height: 1.2em !important;
	      		}
	      		.BambooHR-ATS-board li {
	      			margin-bottom: 25px !important;
	      		}
	      	}
	      }
	    }
	}
}