html {
	body {
		.job-postings {
	      padding-top: 0px !important;
	      #BambooHR {
	        padding: 0 40px;
	        .BambooHR-ATS-board li {
	          font-family: 'Gotham';
	        }
	      }
	      @media all and (max-width: 767px) {
	      	#BambooHR {
	      		padding: 0px !important;
	      		.BambooHR-ATS-Jobs-List {
	      			padding: 0px !important;
	      		}
	      		.BambooHR-ATS-Location {
	      			float: none !important;
	      			padding-top: 4px !important;
	      		}
	      	}
	      }
	    }
	}
}