html {
	body {
		.job-postings {
	      padding-top: 0px !important;
	      #BambooHR {
	        padding: 0 40px;
	        .BambooHR-ATS-board li {
	          font-family: 'Gotham';
	        }
	      }
	    }
	}
}