html {
	body {
		.join-the-family {
			h4 {
				margin-top: 0px;
			}
	      h2 {
	        font-family: 'Didot' !important;
	        text-transform: none !important;
	        font-style: italic !important;
	        letter-spacing: 0px !important;
	        font-weight: 300 !important;
	      }
	      @media all and (max-width: 767px) {

	      }
	    }
	}
}