.masthead {
  min-height: 700px;
  position: relative;
  h1,h4,p,a {
    color: #fff;
    position: relative;
    z-index: 4;
  }
  .box {
    position: relative !important;
    z-index: 6 !important;
  }
  h1 {
    margin-top: 160px;
  }
  h4 {
    font-weight: 400;
    margin-top: 160px;
  }
  p {
    max-width: 45vw;
  }
  .btn {
    margin: 20px 0px;
  }
  &:after {
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 0;
    height: 100%;
    background: rgba(0,0,0,.65);
  }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    padding-top: 35vw !important;
  }
  @media all and (max-width: 767px) {
    padding-bottom: 8vh !important;
    min-height: 80vh;
    p {
      max-width: auto;
    }
  }
}