html {
	body {
		.mission-statement {
      padding-top: 12vh !important;
      padding-bottom: 0vh !important;
      .subheading {
        font-size: 1.6rem;
        font-family: 'Didot' !important;
        text-transform: none;
        font-style: italic;
        letter-spacing: 0px;
        font-weight: 300;
      }
      @media all and (min-width: 768px) and (max-width: 1023px) {
        padding-top: 6vh !important;
        .container {
          margin-bottom: 3vh;
        }
      }
      @media all and (max-width: 767px) {
      	padding-top: 6vh !important;
        .container {
          margin-bottom: 3vh;
        }
      }
	  }
	}
}