html {
	body {
		.perks-wall {
			.mobile {
	      		display: none !important;
	      	}
	      	.desktop {
	      		display: block !important;
	      	}
	      margin-top: 0px;
	      padding-bottom: 5vw !important;
	      .award {
          	img {
          		max-width: 75% !important;
          		margin-left: 25%;
          	}
          }
	      .perks {
	        margin-top: 0px;
	      }
	      .perk {
          	margin: 20px auto 20px;
          h4 {
            font-size: 1rem;
            letter-spacing: 1px;
            margin-bottom: 8px;
            margin-top: 8px;
          }
          p {
            font-size: .725rem !important;
            margin-top: 0px !important;
          }
        }
	      .top-line {
	        height: 2px;
	        background: #000;
	        width: 50%;
	      }
	      .perk-gallery {
	        height: 400px;
	        width: 90%;
	        margin-top: 20px;
	      }
	      @media all and (max-width: 767px) {
	      	.mobile {
	      		display: block !important;
	      	}
	      	.desktop {
	      		display: none !important;
	      	}
	      	.top-line {
	      		margin: 20px 0px;
	      		width: 25%;
	      	}
	      	.perk {
	      		h4 {
	      			font-size: 1.4rem;
	      		}
	      	}
	      	.perk-gallery {
	      		width: 100%;
	      		height: 320px;
	      		margin-bottom: 20px !important;
	      	}
	      	.extra-perks {
	      		padding: 0px;
	      	}
	      }
	    }
	}
}