html body .product-callout {
  padding: 0px 8vw; }
  html body .product-callout .right-aligned .background {
    float: right; }
  html body .product-callout .right-aligned .foreground {
    margin-top: 12.5%; }
  html body .product-callout.product-photos .foreground {
    margin-top: 0px;
    top: 0px;
    height: 35vw;
    width: 30vw;
    -webkit-background-size: contain !important;
    background-size: contain !important;
    -moz-background-size: contain !important; }
  html body .product-callout.product-photos .background {
    height: 360px;
    width: 520px;
    margin-top: 60px; }
  html body .product-callout .images {
    position: relative; }
    html body .product-callout .images .background {
      height: 460px;
      width: 340px; }
    html body .product-callout .images .foreground {
      height: 27vw;
      width: 40vw;
      position: relative;
      left: 15%;
      top: 12.5%; }
  html body .product-callout .content h4 {
    font-family: 'Gotham';
    font-weight: 300;
    font-size: .875rem;
    color: #000;
    text-transform: uppercase;
    margin: 0px 0px 4px; }
  html body .product-callout .content h2 {
    font-family: 'Gotham';
    font-size: 1.4rem;
    color: #000000;
    letter-spacing: 1.71px;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0px; }
  html body .product-callout .content p {
    font-family: 'Gotham';
    font-size: .875rem;
    color: #767676;
    letter-spacing: 0;
    line-height: 1.4; }
  @media all and (min-width: 1500px) {
    html body .product-callout .images .foreground {
      width: 34vw;
      height: 23vw; } }
  @media all and (max-width: 767px) {
    html body .product-callout .images .background {
      height: 240px;
      width: auto; }
    html body .product-callout .content {
      margin-top: 4vh; } }
