html {
  body {
    .product-callout {
      padding: 0px 8vw;
      .right-aligned {
        .background {
          float:right;
        }
        .foreground {
          margin-top: 12.5%;
        }
      }
      .product-images {
        text-align: left;
        position: relative;
        img {
          max-width: 80%;
          height: auto;
          position: relative;
        }
        .foreground {
          // position: absolute;
          max-width: 50%;
          right: 12.5%;
          margin-top: -400px;
        }
      }
      .images {
        position: relative;
        &.left {
          .background {
            z-index: 6;
          }
        }
        &.right {
          .foreground {
            z-index: 6;
          }
        }
        .background {
          height: 460px; 
          width: 340px;
          position: relative;
        }
        .foreground {
          height: 27vw;
          width: 40vw;
          position: relative;
          left: 15%;
          top: 12.5%;
        }
      }
      .content {
        h4 {
          font-family: 'Gotham';
          font-weight: 300;
          font-size: .875rem;
          color: #000;
          text-transform: uppercase;
          margin: 0px 0px 4px;
        }
        h2 {
          font-family: 'Gotham';
          font-size: 1.4rem;
          color: #000000;
          letter-spacing: 1.71px;
          line-height: 1.4;
          text-transform: uppercase;
          margin: 0px;
        }
        p {
          font-family: 'Gotham';
          font-size: .875rem;
          color: #767676;
          letter-spacing: 0;
          line-height: 1.4;
        }
      }
      @media all and (min-width: 1500px) {
        .images {
          .foreground {
            width: 34vw;
            height: 23vw;
          }
        }
      }
      @media all and (max-width: 767px) {
        .images {
          .background {
            height: 240px;
            width: auto;
          }
        }
        .content {
          margin-top: 4vh;
        }
      }
    }
  }
}