html {
  body {
    &.brands {
      .product-callout {
        .product-images {
          .content {
            padding-top: 0px;
            // margin-top: -60px;
          }
        }
        &.right {
          &.has-product {
            .content {
              margin-top: -8vw;;
            }
            .product-images {
              .foreground {
                right: 32vw !important;
              }
              .background {
                margin-left: 10vw !important;
              }
              @media all and (max-width: 767px) {
                padding-right: 0px !important;
                width: 90% !important;
                .foreground {
                  top: -5vw !important;
                  height: 55vw !important;
                  right: 8vw !important;
                }
                .background {
                  width: 80% !important;
                  max-width: 100% !important;
                  margin-left: 0px !important;
                  margin-bottom: 7vw !important;
                }
              }
            }
          }
        }
      }
    } 
    .product-callout {
      padding-top: 5vw !important;
      padding-bottom: 5vw !important;
      .desktop {
        display: block;
      }
      .mobile {
        display: none;
      }
      @media all and (max-width: 767px) {
        .desktop {
          display: none !important;
        }
        .mobile {
          display: block;
          margin: 3vh auto 6vh !important;
        }
      }
      &.first {
        padding-top: 2vw !important;
      }
      .single-image {
        .title {
          margin-top: 0vw !important;
        }
      }
      &.has-product {
        padding-top: 12vw !important;
        padding-bottom: 5vw !important;
        @media all and (max-width: 767px) {
          padding-bottom: 12vw !important;
        }
      }
      &.has-single {
        padding-top: 8vw !important;
        padding-bottom: 2vw !important;
      }
      @media all and (min-width: 768px) and (max-width: 1023px) {
        padding-top: 9vw !important;
        padding-bottom: 9vw !important;
        .images {
          padding: 0px !important;
          margin-bottom: 7vw !important;
          .background {
            display: none !important;
          }
          .foreground {
            position: relative !important;
            right: 0px !important;
            left: 0px !important;
            top: 0px !important;
            width: 100% !important;
            height: 300px !important;
          }
        }
      }

      @media all and (max-width: 767px) {

        padding-top: 9vw !important;
        padding-bottom: 9vw !important;
        .images {
          padding: 0px !important;
          .background {
            display: none !important;
          }
          .foreground {
            position: relative !important;
            right: 0px !important;
            left: 0px !important;
            top: 0px !important;
            width: 100% !important;
            height: 240px !important;
          }
        }
      }
      .right-content {
        margin-left: 3vw;
        @media all and (max-width: 767px) {
          margin-left: 0px !important;
        }
      }
      &.left {
        .single-image {
          padding-left: 0px;
        }
      }
      &.right {
        .content {
          padding-left: 4vw !important
        }
        &.has-product {
          .product-images {
            padding-right: 8vw;
            .background {
              margin-left: 0px !important;
            }
            .foreground {
              right: 8vw !important;
            }
          }
        }
        &.has-single {
          .images {
            &.right-aligned--single-image {
              padding-right: 8vw;
              img {
                margin-left: 0px !important;
              }
            }
          }
        }
      }
      .product-images {
        text-align: left;
        position: relative;
        width: 54vw;
        .foreground {
          position: absolute;
          height: 35vw;
          width: auto;
          right: 0vw;
          top: -4vw;
        }
        .background {
          width: 40vw;
          margin-left: 8vw;
        }
        @media all and (max-width: 767px) {
          padding-right: 0px !important;
          width: 90% !important;
          .foreground {
            top: -5vw !important;
            height: 55vw !important;
            right: 8vw !important;
          }
          .background {
            width: 80% !important;
            max-width: 100% !important;
            margin-left: 12px !important;
            margin-bottom: 7vw !important;
          }
        }
        &.left {
          .content {
            padding-left: 0px;
          }
        }
        @media all and (min-width: 768px) and (max-width: 1023px) {
          width: 100vw;
          padding: 0px 16vw;
          margin-bottom: 3vw;
        }
      }
      .images {
        position: relative;
        width: 54vw;
        &.left-aligned--single-image {
          padding-left: 8vw;
          img {
            margin-left: 0px;
            margin-top: 2vw;
            max-width: 90%;
          }
        }
        &.right-aligned--single-image {
          img {
            margin-left: 8vw;
            margin-top: 2vw;
          }
        }
        &.left-aligned--tall-front {
          .background {
            z-index: 6;
          }
        }
        &.left-aligned--wide-front {
          .foreground {
            z-index: 6;
          }
        }
        &.right-aligned {
          padding-right: 4vw;
          .background {
            margin-right: 12vw;
            float: right;
          }
          .foreground {
            left: 4vw;
          }
          &.right-aligned--tall-front {
            .background {
              z-index: 6;
            }
          }
          &.right-aligned--wide-front {
            .foreground {
              z-index: 6;
            }
          }
        }
        .background {
          height: 27vw; 
          width: 20vw;
          top: 4vw;
          left: 8vw;
          position: relative;
        }
        .foreground {
          height: 20vw;
          width: 32vw;
          position: absolute;
          right: 0px;
          top: 11vw;
        }
        @media all and (min-width: 768px) and (max-width: 1023px) {
          margin: 0vw 0px 6vw;
          width: 100%;
        }
      }
      .content {
        padding-left: 7vw;
        padding-top: 4vw;
        padding-right: 4vw;
        .btn {
          margin-top: .875em;
        }
        .quote {
          margin-top: 3vw;
          p {
            font-family: 'Didot' !important;
            font-size: 1.4rem !important;
            color: #000;
            line-height: 1.4em !important;
            margin-bottom: -7px !important;
          }
          img {
            height: 60px;
            width: auto;
            margin-top: 0vw;
          }
        }
        .stat {
          margin-top: 2vw;
          max-width: 50%;
          position: absolute;
          // display: none;
          @media all and (max-width: 767px) {
            display: block;
            position: relative;
          }
          h2 {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 300;
          }
          h4 {
            font-weight: 600;
          }
        }
        h4 {
          font-family: 'Gotham';
          font-weight: 300;
          font-size: .725rem;
          color: #000;
          text-transform: uppercase;
          margin: 0px 0px 10px;
        }
        h2 {
          font-family: 'Gotham';
          font-size: 1.6rem;
          color: #000000;
          letter-spacing: 1.71px;
          line-height: 1.4;
          text-transform: uppercase;
          margin: 0px;
        }
        p {
          font-family: 'Gotham';
          font-size: .875rem;
          color: #767676;
          letter-spacing: 0;
          line-height: 1.4;
        }
        @media all and (min-width: 768px) and (max-width: 1023px) {
          padding-left: 16vw !important;
          padding-right: 16vw !important;
          p {
            font-size: 1rem;
          }
          .stat {
            max-width: 100%;
            margin-top: 12vw;
            h2 {
              font-size: 3rem !important;
            }
          }
        }
        @media all and (max-width: 767px) {
          padding-left: 4vw !important;
          p {
            font-size: 1rem;
          }
          .stat {
            max-width: 100%;
            margin-top: 12vw;
            h2 {
              font-size: 3rem !important;
            }
          }
        }
      }
      @media all and (min-width: 1500px) {
        .images {
          .foreground {
            width: 34vw;
            height: 23vw;
          }
        }
      }
      @media all and (max-width: 1024px) {
        .images {
          width: 100%;
        }
        .content {
          margin-top: 0vh;
        }
      }
      @media all and (min-width: 768px) and (max-width: 1023px) {
        &.has-single {
          .images {
            img {
              max-width: 100% !important;
            }
          }
        }
        .images {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
        &.right {
          .content {
            // padding: 0px !important;
          }
        }
        .right-content {
          margin-left: 0px !important;
        }
        .content {
          padding: 0px 4vw !important;
          margin-top: 0vh;
          // padding: 2vw 4vw;
          .btn {
            margin-bottom: 40px;
            margin-top: 20px;
            display: block;
          }
          .quote,.stat {
            max-width: 75%;
            margin: 3vh auto 0px;
          }
          .quote {
            img {
              height: 30px;
              margin: 6vw auto;
            }
          }
        }
      }
      @media all and (max-width: 767px) {
        &.right {
          &.has-product {
            .content {
            }
            .product-images {
              .foreground {

              }
              .background {
                margin-left: 0vw !important;
              }
            }
          }
        }
        &.has-single {
          .images {
            img {
              max-width: 100% !important;
            }
          }
        }
        .images {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
        .content {
          margin-top: 2vh;
          // padding: 2vw 4vw;
          .btn {
            margin-bottom: 40px;
            margin-top: 20px;
            display: block;
          }
          .quote,.stat {
            max-width: 75%;
            margin: 3vh auto 0px;
          }
          .quote {
            img {
              height: 30px;
              margin: 3vw auto;
            }
          }
        }
      }
    }
  }
}