html {
  body {
    .team-member-wall {
      p {
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: .725rem;
      }
      h2 {
        margin-bottom: 4vw;
      }
      h4 {
        margin-top: 0px;
      }
      .team-member {
        margin-bottom: 4vw;
      }
    }
  }
}