.team-member-bio {
  &.left {
    .content {
      padding-left: 40px;
    }
  }
  &.right {
    .content {
      padding-right: 40px;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .content {
      padding: 0px !important;
    }
    img {
      max-width: 40%;
      margin: 0 auto;
    }
    h4 {
      margin-bottom: 1vw;
      margin-top: 6vw;
    }
  }
  @media all and (max-width: 767px) {
    .content {
      padding-left: 0px !important;
      margin-top: 40px;
    }
  }
}