html {
  body {
    &.influencers {
      h4 {
        img {
          display: inline-block !important;
        }
      }
    }
    .testimonial-slider {
      .quote {
        cursor: pointer;
        font-family: 'Didot';
        font-style: italic;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 20px; 
      }
      h4 {
        font-size: .875rem;
        margin-bottom: 0px;
        img {
          height: 24px;
          display: none;
          margin-right: 8px;
        }
      }
      @media all and (max-width: 767px) {
        .quote {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}