html {
  body {
    .container {
      position: relative;
    }
    .vertical-carousel {
      padding-top: 3vw !important;
      padding-bottom: 0px !important;
      .arrows {
        position: absolute;
        left: 0px;
        z-index: 9;
        margin-top: 16%;
        width: 100%;
        @media all and (max-width: 767px) {
          // display: none;
        }
      }
      .circle {
        height: 48px;
        width: 48px;
        background: #000;
        border-radius: 50%;
        text-align: center;
        line-height: 48px;
        color: #fff;
        opacity: 1;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        &:hover {
          background: #fff;
          cursor: pointer;
          opacity: 1;
          i {
            color: #000;
          }
        }
        &.next {
          float: right;
        }
      }
      h1 {
        margin-top: 1vw;
      }
      h4 {
        font-weight: 600;
        margin-top: 8px;
        font-size: .725rem;
      }
      .slick-list {
        overflow: visible !important;
      }
      .slider {
        margin-top: 2vw;
        .slick-slide {
          margin-right: 10px !important;

          // &:nth-child(even) {
          //   margin-top: 20px !important;
          // }
        }
      }
      @media all and (max-width: 767px) {
        h4 {
          height: 24px;
        }
        h1 {
          margin-top: 6vw !important;
        }
        padding-bottom: 3vw !important;
        .slick-list {
          overflow: hidden !important;
        }
        .arrows {
          margin-top: 28%;
          padding: 0px 0px;
        }
        .circle { 
          height: 24px;
          width: 24px;
          line-height: 24px;
        }
        .slider {
          // margin-left: 5px;
          .slick-slide {
            margin: 0px 5px !important;
            // margin-right: 10px !important;
          }
        }
      }
    }
  }
}