html {
  body {
    .vertical-carousel {
      h4 {
        font-weight: 300;
        margin-top: 8px;
      }
      .slick-list {
        overflow: visible !important;
      }
      .slider {
        .slick-slide {
          margin-right: 10px !important;
          &:nth-child(even) {
            margin-top: 20px !important;
          }
        }
      }
      @media all and (max-width: 767px) {
        .slick-list {
          overflow: hidden !important;
        }
        .slider {
          .slick-slide {
            margin-right: 10px !important;
            &:nth-child(even) {
              margin-top: 20px !important;
            }
          }
        }
      }
    }
  }
}