/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Light.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Medium.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Didot";
  src: url("fonts/Didot.ttf");
  font-weight: normal;
  font-style: normal; }

html body .call-to-action-banner {
  position: relative;
  z-index: 0;
  padding: 12vh 0px !important; }
  html body .call-to-action-banner:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; }
  html body .call-to-action-banner .box {
    position: relative;
    z-index: 1; }
    html body .call-to-action-banner .box p {
      font-family: 'Gotham';
      color: #fff; }

html body .company-stats .box {
  padding: 0px 30px;
  border-right: 1px solid #e8e8e8; }
  html body .company-stats .box.last {
    border: 0px !important; }
  html body .company-stats .box p {
    font-size: .875rem; }

html body .company-stats .stat {
  display: block;
  margin: 30px auto 0px;
  width: 50%;
  float: left; }
  html body .company-stats .stat h1 {
    font-weight: 300;
    font-size: 2rem; }
  html body .company-stats .stat h4 {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: .875rem; }

html body .employee-spotlight {
  background: #f2f2f2; }
  html body .employee-spotlight h2 {
    font-size: 4rem;
    font-family: 'Didot' !important;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    margin-bottom: 0px; }
  html body .employee-spotlight h4 {
    margin-top: 0px; }

html body .highlight-callout .left {
  margin-top: 120px;
  position: relative;
  z-index: 0; }

html body .highlight-callout h3 {
  font-size: 1.6rem;
  color: #000;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 20px auto; }

html body .highlight-callout .right {
  float: right;
  margin-top: -400px;
  max-width: 350px;
  z-index: 1;
  position: relative; }

html body .highlight-callout .top {
  margin-top: -48px; }

html body .highlight-callout a {
  margin-top: 20px; }

html body .highlight-callout .content {
  padding: 0px 30px 0px 30px; }
  html body .highlight-callout .content p {
    padding: 0px 30px 0px 0px;
    font-size: .875rem; }

html body .instagram-feed h2 {
  font-family: 'Didot' !important;
  text-transform: none;
  font-style: italic;
  font-weight: 300;
  margin: 30px auto; }

html body .job-postings {
  padding-top: 0px !important; }
  html body .job-postings #BambooHR {
    padding: 0 40px; }
    html body .job-postings #BambooHR .BambooHR-ATS-board li {
      font-family: 'Gotham'; }

html body .join-the-family h2 {
  font-family: 'Didot' !important;
  text-transform: none;
  font-style: italic;
  letter-spacing: 0px;
  font-weight: 300; }

.masthead {
  min-height: 700px;
  position: relative; }
  .masthead h1, .masthead h4, .masthead p, .masthead a {
    color: #fff;
    position: relative;
    z-index: 4; }
  .masthead h1 {
    margin-top: 160px; }
  .masthead h4 {
    font-weight: 400;
    margin-top: 160px; }
  .masthead p {
    max-width: 45vw; }
  .masthead:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .masthead {
      padding-top: 35vw !important; } }
  @media all and (max-width: 767px) {
    .masthead {
      padding-bottom: 8vh !important;
      min-height: 80vh; }
      .masthead p {
        max-width: auto; } }

html body .mission-statement .subheading {
  font-size: 1.6rem;
  font-family: 'Didot' !important;
  text-transform: none;
  font-style: italic;
  letter-spacing: 0px;
  font-weight: 300; }

html body .perks-wall {
  margin-top: 60px; }
  html body .perks-wall .perks {
    margin-top: 60px; }
    html body .perks-wall .perks .perk {
      margin: 20px auto 40px; }
      html body .perks-wall .perks .perk h4 {
        font-size: 1rem;
        letter-spacing: 1px;
        margin-bottom: 8px; }
      html body .perks-wall .perks .perk p {
        font-size: .725rem; }
  html body .perks-wall .top-line {
    height: 3px;
    background: #000;
    width: 50%; }
  html body .perks-wall .perk-gallery {
    height: 400px;
    width: 90%; }

html body .press-timeline {
  background: #f2f2f2;
  width: 100%;
  position: relative; }
  html body .press-timeline::after {
    content: '';
    position: absolute;
    height: 1px;
    background: #000;
    width: 100%;
    top: 50%; }
  html body .press-timeline .circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    background: #000;
    position: relative;
    z-index: 8;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    cursor: pointer; }
    html body .press-timeline .circle:hover {
      background: #fff;
      border: 1px solid #000; }
      html body .press-timeline .circle:hover i {
        color: #000; }
  html body .press-timeline img {
    position: relative;
    z-index: 5;
    cursor: pointer; }
  html body .press-timeline .content {
    padding: 0px 30px; }
  html body .press-timeline .box {
    position: relative;
    z-index: 5;
    background: #f2f2f2;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0px 40px; }

html body .product-callout {
  padding: 0px 0vw; }
  html body .product-callout .right-content {
    margin-left: 3vw; }
  html body .product-callout .product-images {
    text-align: left;
    position: relative;
    width: 55vw; }
    html body .product-callout .product-images .foreground {
      position: absolute;
      width: 20vw;
      right: 0vw;
      top: 0vw; }
    html body .product-callout .product-images .background {
      width: 40vw;
      margin-left: 8vw; }
    html body .product-callout .product-images.left .content {
      padding-left: 0px; }
    @media all and (min-width: 768px) and (max-width: 1023px) {
      html body .product-callout .product-images {
        width: 100vw;
        padding: 0px 16vw;
        margin-bottom: 3vw; }
        html body .product-callout .product-images .background {
          width: 70vw;
          margin-top: -3vw;
          margin-left: -6vw !important; }
        html body .product-callout .product-images .foreground {
          height: 53vw;
          width: auto;
          right: 13vw;
          top: -13vw; } }
    @media all and (max-width: 767px) {
      html body .product-callout .product-images {
        width: 100%;
        padding: 0px 16vw; }
        html body .product-callout .product-images .foreground {
          width: 29vw;
          right: 22vw;
          top: -14vw; }
        html body .product-callout .product-images .background {
          margin-left: 0px;
          width: 60vw; } }
  html body .product-callout .images {
    position: relative;
    width: 55vw; }
    html body .product-callout .images.left-aligned--tall-front .background {
      z-index: 6; }
    html body .product-callout .images.left-aligned--wide-front .foreground {
      z-index: 6; }
    html body .product-callout .images.right-aligned {
      padding-right: 4vw; }
      html body .product-callout .images.right-aligned .background {
        margin-right: 12vw;
        float: right; }
      html body .product-callout .images.right-aligned .foreground {
        left: 8vw; }
      html body .product-callout .images.right-aligned.right-aligned--tall-front .background {
        z-index: 6; }
      html body .product-callout .images.right-aligned.right-aligned--wide-front .foreground {
        z-index: 6; }
    html body .product-callout .images .background {
      height: 30vw;
      width: 22vw;
      top: 0px;
      left: 8vw;
      position: relative; }
    html body .product-callout .images .foreground {
      height: 27vw;
      width: 40vw;
      position: absolute;
      right: 0px;
      top: 14vw; }
    @media all and (min-width: 768px) and (max-width: 1023px) {
      html body .product-callout .images {
        margin: 0vw 0px 6vw;
        width: 100%; }
        html body .product-callout .images .background {
          left: 14vw;
          height: 44vw;
          width: 31vw; }
        html body .product-callout .images .foreground {
          right: 14vw;
          height: 36vw;
          width: 57vw; }
        html body .product-callout .images.right-aligned {
          padding-right: 16vw; }
          html body .product-callout .images.right-aligned .background {
            float: right;
            left: 0px;
            margin-right: -2vw; }
          html body .product-callout .images.right-aligned .foreground {
            left: 16vw; } }
    @media all and (max-width: 767px) {
      html body .product-callout .images {
        margin: 0px auto 4vw !important;
        width: 100%; }
        html body .product-callout .images .background {
          width: 36vw;
          height: 48vw;
          left: 16vw;
          top: -25px; }
        html body .product-callout .images .foreground {
          width: 60vw;
          height: 38vw;
          right: 16vw;
          top: 15vw; }
        html body .product-callout .images.right-aligned {
          padding-right: 16vw; }
          html body .product-callout .images.right-aligned .background {
            float: right; }
          html body .product-callout .images.right-aligned .foreground {
            left: 16vw; } }
  html body .product-callout .content {
    padding-left: 7vw;
    padding-top: 6vw;
    padding-right: 4vw; }
    html body .product-callout .content h4 {
      font-family: 'Gotham';
      font-weight: 300;
      font-size: .875rem;
      color: #000;
      text-transform: uppercase;
      margin: 0px 0px 4px; }
    html body .product-callout .content h2 {
      font-family: 'Gotham';
      font-size: 1.4rem;
      color: #000000;
      letter-spacing: 1.71px;
      line-height: 1.4;
      text-transform: uppercase;
      margin: 0px; }
    html body .product-callout .content p {
      font-family: 'Gotham';
      font-size: .875rem;
      color: #767676;
      letter-spacing: 0;
      line-height: 1.4; }
    @media all and (min-width: 768px) and (max-width: 1023px) {
      html body .product-callout .content {
        padding-left: 16vw !important;
        padding-right: 16vw !important; }
        html body .product-callout .content p {
          font-size: 1rem; } }
    @media all and (max-width: 767px) {
      html body .product-callout .content p {
        font-size: 1rem; } }
  @media all and (min-width: 1500px) {
    html body .product-callout .images .foreground {
      width: 34vw;
      height: 23vw; } }
  @media all and (max-width: 1024px) {
    html body .product-callout .images {
      width: 100%; }
    html body .product-callout .content {
      margin-top: 0vh; } }
  @media all and (max-width: 767px) {
    html body .product-callout .content {
      margin-top: 4vh; } }

html body .side-by-side .jarallax {
  width: 100%;
  height: 400px; }

html body .side-by-side p {
  max-width: 90%; }

html body .side-by-side .box {
  padding: 2vw 2vw 0px 0px; }

@media all and (max-width: 767px) {
  html body .side-by-side .box {
    padding: 2vw 4vw; } }

html body .team-member-wall p {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
  font-size: .725rem; }

html body .team-member-wall h4 {
  margin-top: 0px; }

html body .team-member-wall .team-member {
  margin-bottom: 30px; }

html body .testimonial-slider .quote {
  font-family: 'Didot';
  font-style: italic;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 20px; }

html body .testimonial-slider h4 {
  font-size: .875rem; }

html body .vertical-carousel h4 {
  font-weight: 300;
  margin-top: 8px; }

html body .vertical-carousel .slick-list {
  overflow: visible !important; }

html body .vertical-carousel .slider {
  margin-top: 2vw; }
  html body .vertical-carousel .slider .slick-slide {
    margin-right: 10px !important; }
    html body .vertical-carousel .slider .slick-slide:nth-child(even) {
      margin-top: 20px !important; }

@media all and (max-width: 767px) {
  html body .vertical-carousel .slick-list {
    overflow: hidden !important; }
  html body .vertical-carousel .slider .slick-slide {
    margin-right: 10px !important; }
    html body .vertical-carousel .slider .slick-slide:nth-child(even) {
      margin-top: 20px !important; } }

/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #767676;
  background-color: #fff; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #767676;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

/**
 * partials/header
 * ---
 */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 8;
  background: #fff;
  border-bottom: 1px solid #e8e8e8; }
  .header .menu-toggle {
    display: none; }
  @media all and (max-width: 1023px) {
    .header .logo-img {
      margin: 20px auto 0px; } }
  @media all and (max-width: 767px) {
    .header {
      text-align: center; }
      .header .logo-img {
        margin: 16px auto 8px; }
      .header .menu-toggle {
        position: absolute;
        right: 24px;
        top: 25%;
        display: block;
        z-index: 8; }
        .header .menu-toggle i {
          opacity: .25;
          font-size: 2rem; } }

.topbar {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: #fff;
  z-index: 8;
  height: 30px; }
  .topbar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .topbar ul li {
      margin: 0px;
      display: inline-block; }
      .topbar ul li a {
        color: #000;
        font-family: 'Gotham';
        text-transform: uppercase;
        font-size: .525rem;
        font-weight: 600; }

.logo-img {
  margin-top: 8px;
  display: block;
  max-width: 180px; }

/**
 * partials/nav
 * ---
 * Menus
 */
.nav ul {
  list-style-type: none;
  margin-top: 14px; }
  .nav ul li {
    display: inline-block;
    margin: 0px 20px;
    position: relative;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; }
    .nav ul li:hover a {
      text-decoration: none;
      font-weight: 600; }
    .nav ul li.current-menu-item a {
      font-weight: 600; }
    .nav ul li:last-child {
      margin-right: 0px; }
      .nav ul li:last-child a {
        background: #000;
        color: #fff;
        display: inline-block;
        padding: 8px 20px;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out; }
        .nav ul li:last-child a:hover {
          text-decoration: none;
          background: #fff;
          color: #000; }
      .nav ul li:last-child:hover {
        border-bottom: 0px; }
    .nav ul li ul {
      display: none;
      position: absolute;
      left: 0px;
      padding: 0px;
      margin: 0px;
      background: #fff; }
    .nav ul li a {
      text-transform: uppercase;
      font-family: 'Gotham';
      font-weight: 300;
      font-size: .725rem;
      color: #000;
      letter-spacing: 1.7px; }

@media all and (max-width: 767px) {
  .nav {
    display: none;
    width: 100%;
    left: 0px;
    position: absolute;
    background: rgba(252, 252, 252, 0.95); }
    .nav.active {
      display: block; }
    .nav ul {
      width: 100%;
      padding: 0px;
      margin: 0px; }
      .nav ul li {
        display: block;
        margin: 32px auto; } }

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.footer {
  padding: 4vh 0px; }
  .footer p {
    font-size: .725rem; }
    .footer p a {
      font-size: .725rem; }
  .footer .logo-img {
    margin: 8px auto; }
  .footer nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .footer nav ul li {
      display: inline-block;
      margin: 8px 20px; }
      .footer nav ul li a {
        text-transform: uppercase;
        font-size: .725rem;
        color: #767676;
        font-family: 'Gotham';
        font-weight: 600;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out; }
        .footer nav ul li a:hover {
          color: #000;
          text-decoration: none; }
  .footer .social {
    margin: 30px auto 0px;
    padding: 0px;
    list-style-type: none; }
    .footer .social li {
      display: inline-block; }
      .footer .social li a {
        padding: 16px;
        font-size: 1.2rem;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out; }
        .footer .social li a:hover {
          color: #000; }
  @media all and (max-width: 767px) {
    .footer nav ul {
      margin-top: 30px; }
      .footer nav ul li {
        display: block;
        margin-bottom: 30px; } }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

html body {
  overflow-x: hidden;
  width: 100%; }
  html body .become-rs-influencer .content .box {
    padding: 0px 40px; }
  html body .become-rs-influencer .seperator {
    margin-top: 30px; }
  html body .stats-wall h2 {
    font-size: 3.5rem;
    margin: 0px;
    font-family: 'Gotham';
    font-weight: 400;
    line-height: 100%; }
  html body .stats-wall h4 {
    margin: 0px;
    font-family: 'Gotham';
    font-weight: 600;
    font-size: .875rem;
    letter-spacing: 1px; }
  @media all and (max-width: 767px) {
    html body .stats-wall .stat {
      margin: 4vh auto; } }
  html body .process-steps h2 {
    font-size: 1.6rem; }
  html body .brand-wall h2 {
    font-family: 'Didot' !important;
    font-style: italic;
    margin-bottom: 60px;
    font-weight: 300;
    text-transform: none; }
  html body .brand-wall .logo-slider .slick-slide {
    margin: 0px 20px !important; }
    html body .brand-wall .logo-slider .slick-slide .logo {
      width: 75% !important; }
    html body .brand-wall .logo-slider .slick-slide img {
      height: auto !important; }
  html body .large-callout .box {
    position: relative; }
  html body .large-callout .top-img {
    width: 134px;
    height: 170px;
    margin-left: 100px;
    margin-bottom: 40px; }
  html body .large-callout .content {
    padding-left: 60px;
    margin-bottom: 60px; }
  html body .large-callout .left-img {
    width: 420px;
    height: 570px;
    margin-top: 60px; }
  html body .large-callout .bottom-img {
    width: 625px;
    height: 400px; }
  html body .values-callout .container {
    position: relative;
    min-height: 80vh; }
    html body .values-callout .container .images {
      max-width: 50%;
      position: absolute;
      right: 0px;
      top: 0px;
      margin-top: 20.5%; }
      html body .values-callout .container .images img {
        display: block;
        margin: 8px auto; }
    html body .values-callout .container p {
      max-width: 55%;
      margin-bottom: 40px; }
  @media all and (max-width: 767px) {
    html body .values-callout .container .images {
      position: relative;
      max-width: 100%; }
    html body .values-callout .container .btn {
      display: block;
      text-align: center;
      line-height: 40px; }
    html body .values-callout .container p {
      max-width: 100%; } }
  html body .team-member-bio.left .content {
    padding-left: 40px; }
  html body .team-member-bio.right .content {
    padding-right: 40px; }
  html body .pull-quotes .col-md-4 {
    margin-bottom: 48px; }
  html body .pull-quotes article img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; }
  html body .pull-quotes article:hover img {
    opacity: .8; }
  html body .pull-quotes article p {
    font-family: 'Didot' !important;
    font-style: italic;
    max-width: 90%;
    margin: 16px auto;
    color: #000; }
  html body .articles-by-category article {
    margin-bottom: 20px; }
    html body .articles-by-category article a {
      text-decoration: none; }
      html body .articles-by-category article a h4 {
        margin-bottom: 8px;
        font-size: .725rem;
        letter-spacing: 1px; }
      html body .articles-by-category article a h2 {
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        margin-top: 0px; }
      html body .articles-by-category article a:hover h2 {
        opacity: .9; }

.jarallax {
  position: relative;
  z-index: 0; }

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.error-page .container .row {
  min-height: 50vh; }

html {
  font-size: 100% !important; }
  html body {
    font-size: 100%; }
    html body section {
      padding-top: 9vw !important;
      padding-bottom: 9vw !important; }
    html body h1 {
      font-size: 3rem;
      font-family: 'Gotham';
      line-height: 100%;
      margin: 0px;
      color: #000; }
    html body h2 {
      font-size: 2rem;
      font-family: 'Gotham' !important;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 1.7px;
      margin: 0px; }
    html body h3 {
      font-size: 1.4rem;
      font-family: 'Didot';
      font-style: italic;
      margin: 0px; }
    html body h4 {
      font-size: 1rem;
      font-family: 'Gotham';
      letter-spacing: 1.7px;
      text-transform: uppercase;
      color: #000; }
    html body p {
      font-size: 1rem;
      font-family: 'Gotham' !important;
      color: #767676;
      line-height: 1.9 !important;
      font-weight: 400; }
    html body ul li {
      font-size: 1rem; }
    html body a {
      font-size: 1rem; }
    html body span {
      font-size: 1rem; }
    html body img {
      max-width: 100%; }
    html body .text-white {
      color: #fff !important; }
    html body .btn {
      display: inline-block;
      background: #000;
      color: #fff;
      font-size: .875rem;
      padding: 8px 20px;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: 'Gotham';
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out; }
      html body .btn:hover {
        background: #fff;
        color: #000;
        text-decoration: none;
        font-weight: 600; }
      html body .btn.btn-secondary {
        background: #fff;
        color: #000; }
        html body .btn.btn-secondary:hover {
          background: #000;
          color: #fff;
          font-weight: 600; }

@media all and (min-width: 1800px) {
  html {
    font-size: 100% !important; }
    html body {
      font-size: 100%; }
      html body section.masthead {
        padding: 4vh 12vw !important; }
      html body .product-callout .images .foreground {
        height: 19vw;
        width: 30vw; }
      html body .masthead {
        min-height: 1px; } }

@media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    width: 100%;
    overflow-x: hidden; }
    html body {
      width: 100%;
      overflow-x: hidden; }
      html body section {
        padding-left: 8vw;
        padding-right: 8vw; }
      html body .container {
        width: auto !important; } }

@media all and (max-width: 767px) {
  html {
    font-size: 80% !important; }
    html body {
      font-size: 40% !important; }
      html body section {
        padding-top: 9vh !important;
        padding-bottom: 9vh !important; }
      html body h1 {
        font-size: 2.4rem; }
      html body h2 {
        font-size: 1.4rem; }
      html body .container {
        padding-left: 8vw;
        padding-right: 8vw; }
      html body p {
        color: #000;
        font-weight: 500; } }

/*# sourceMappingURL=style.css.map */
